In [1]:
import pandas as pd

In [2]:
trs = pd.read_csv('transactions.csv')

In [3]:
trs

      Unnamed: 0     CONTRACTOR    STATUS  SUM
0              0      Acme, Inc   WAITING  415
1              1  Umbrella, Inc   WAITING  646
2              2  Umbrella, Inc        OK  780
3              3  Umbrella, Inc  CANCELED  887
4              4  Umbrella, Inc        OK  255
...          ...            ...       ...  ...
9995        9995      Acme, Inc        OK  881
9996        9996      Acme, Inc        OK  160
9997        9997  Umbrella, Inc        OK  683
9998        9998  Umbrella, Inc   WAITING  805
9999        9999      Acme, Inc   WAITING  982

[10000 rows x 4 columns]

In [5]:
def is_ok(df):
    if df.STATUS == 'OK':
        return df.SUM

sums = trs.apply(is_ok, axis = 'columns')

In [6]:
sums

0         NaN
1         NaN
2       780.0
3         NaN
4       255.0
        ...
9995    881.0
9996    160.0
9997    683.0
9998      NaN
9999      NaN
Length: 10000, dtype: float64

In [8]:
sorted_sums = sums.sort_values()

In [9]:
sorted_sums

6999    100.0
1421    100.0
7262    100.0
3816    100.0
5027    100.0
        ...
9988      NaN
9991      NaN
9993      NaN
9998      NaN
9999      NaN
Length: 10000, dtype: float64

In [10]:
sorted_sums = sums.sort_values(ascending=False)

In [11]:
sorted_nums

NameError: name 'sorted_nums' is not defined

In [12]:
sorted_sums

5085    100500.0
4451      1000.0
1348       999.0
6398       999.0
9225       999.0
          ...
9988         NaN
9991         NaN
9993         NaN
9998         NaN
9999         NaN
Length: 10000, dtype: float64

In [13]:
highest_3 = sorted_sums.iloc(0:3)

SyntaxError: invalid syntax (<ipython-input-13-48daee6dacb3>, line 1)

In [14]:
highest_3 = sorted_sums.iloc[0:3]

In [15]:
highest_3

5085    100500.0
4451      1000.0
1348       999.0
dtype: float64

In [16]:
def um_ok(df):
    if (df.STATUS == 'OK') & (df.CONTRACTOR == 'Umbrella, Inc'):
        return df.SUM
trs.apply(um_ok, axis = 'columns')

0         NaN
1         NaN
2       780.0
3         NaN
4       255.0
        ...
9995      NaN
9996      NaN
9997    683.0
9998      NaN
9999      NaN
Length: 10000, dtype: float64

In [17]:
def um_ok(df):
    if (df.STATUS == 'OK') & (df.CONTRACTOR == 'Umbrella, Inc'):
        return df.SUM
trs.apply(um_ok, axis = 'columns').sum()

925719.0